{% extends "courses/base.html" %}
{% block title %}Listado{% endblock %}
{% block content %}
  <h1 class="mb-4">Cursos</h1>
  <a class="btn btn-primary mb-3" href="{% url 'courses:create' %}">Nuevo curso</a>
  <a class="btn btn-primary mb-3" href="{% url 'courses:columnas' %}">Nuevo curso (Columnas)</a>
  <a class="btn btn-primary mb-3" href="{% url 'courses:accordion' %}">Nuevo curso (Accordion)</a>
  <a class="btn btn-primary mb-3" href="{% url 'courses:tabs_create' %}">Nuevo curso (Tabs)</a>
  <a class="btn btn-primary mb-3" href="{% url 'courses:help_create' %}">Nuevo curso (Help text)</a>
  <a class="btn btn-primary mb-3" href="{% url 'courses:fieldset_create' %}">Nuevo curso (Fieldset)</a>
  <div class="list-group">
    {% for course in courses %}
      <a href="{% url 'courses:update' course.pk %}" class="list-group-item list-group-item-action">
        <strong>{{ course.title }}</strong><br>
        <small>{{ course.description|truncatewords:12 }}</small>
      </a>
    {% empty %}
      <div class="list-group-item text-muted">Sin cursos aún.</div>
    {% endfor %}
  </div>
{% endblock %}